<main class="main home-main container text-center">
    <h2>Lorem ipsum dolor sit amet consectetur.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iste blanditiis ratione odit asperiores quo iusto. Quidem optio asperiores distinctio illum consequatur, explicabo, aut provident velit ea veniam aspernatur animi?</p>
    <figure>
        <img src="https://via.placeholder.com/450x500" alt="placeholder image" class="img-fluid home-img">
        <figcaption>
            <h4>In monsters we trust!</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi commodi dolore delectus nulla ad laboriosam sequi eos, enim cupiditate iusto tempora expedita? Placeat, illo animi optio voluptate error aut pariatur, qui id doloremque, dolorum voluptatum iusto adipisci maiores necessitatibus quisquam soluta eum fuga tempore numquam laudantium quo minus vero? Veniam aut fugiat delectus labore quibusdam ut!</p>
        </figcaption>
    </figure>
</main>     